ui-dropdown > *:not(select) {
  display: none; }

ui-dropdown select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background-color: #FFF;
  padding: 5px 15px; }
.toggle {
  cursor: pointer;
  display: inline-block; }
  .toggle input {
    display: none; }
    .toggle input + span {
      display: inline-block;
      vertical-align: middle;
      width: 48px;
      height: 24px;
      border-radius: 16px;
      border: 1px solid #6D3258;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: linear-gradient(to left, #6D3258 50%, #F9F9F9 50%);
      background-size: 200% 100%;
      background-position-x: -25%;
      transition: background-position-x 300ms; }
      .toggle input + span::before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        margin-left: -1px;
        border-radius: 50%;
        border: 1px solid #6D3258;
        background-color: #FFF;
        transition: margin-left 300ms; }
    .toggle input:checked + span {
      background-position-x: -75%; }
      .toggle input:checked + span::before {
        margin-left: 25px; }
    .toggle input:disabled + span {
      cursor: not-allowed;
      border-color: #999;
      background-color: #EFEFEF;
      background-image: none; }
      .toggle input:disabled + span::before {
        border-color: #999;
        background-color: #F9F9F9; }
.m-small {
  margin: 5px; }

.m-small-t {
  margin-top: 5px; }

.m-small-r {
  margin-right: 5px; }

.m-small-b {
  margin-bottom: 5px; }

.m-small-l {
  margin-left: 5px; }

.p-small {
  padding: 5px; }

.p-small-t {
  padding-top: 5px; }

.p-small-r {
  padding-right: 5px; }

.p-small-b {
  padding-bottom: 5px; }

.p-small-l {
  padding-left: 5px; }

.m-medium {
  margin: 15px; }

.m-medium-t {
  margin-top: 15px; }

.m-medium-r {
  margin-right: 15px; }

.m-medium-b {
  margin-bottom: 15px; }

.m-medium-l {
  margin-left: 15px; }

.p-medium {
  padding: 15px; }

.p-medium-t {
  padding-top: 15px; }

.p-medium-r {
  padding-right: 15px; }

.p-medium-b {
  padding-bottom: 15px; }

.p-medium-l {
  padding-left: 15px; }

.m-large {
  margin: 30px; }

.m-large-t {
  margin-top: 30px; }

.m-large-r {
  margin-right: 30px; }

.m-large-b {
  margin-bottom: 30px; }

.m-large-l {
  margin-left: 30px; }

.p-large {
  padding: 30px; }

.p-large-t {
  padding-top: 30px; }

.p-large-r {
  padding-right: 30px; }

.p-large-b {
  padding-bottom: 30px; }

.p-large-l {
  padding-left: 30px; }

.m-xlarge {
  margin: 60px; }

.m-xlarge-t {
  margin-top: 60px; }

.m-xlarge-r {
  margin-right: 60px; }

.m-xlarge-b {
  margin-bottom: 60px; }

.m-xlarge-l {
  margin-left: 60px; }

.p-xlarge {
  padding: 60px; }

.p-xlarge-t {
  padding-top: 60px; }

.p-xlarge-r {
  padding-right: 60px; }

.p-xlarge-b {
  padding-bottom: 60px; }

.p-xlarge-l {
  padding-left: 60px; }

.delayed-list:nth-child(1) {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms; }

.delayed-list:nth-child(2) {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms; }

.delayed-list:nth-child(3) {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms; }

.delayed-list:nth-child(4) {
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms; }

.delayed-list:nth-child(5) {
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms; }

.delayed-list:nth-child(6) {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms; }

.delayed-list:nth-child(7) {
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms; }

.delayed-list:nth-child(8) {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms; }

.delayed-list:nth-child(9) {
  -webkit-animation-duration: 1100ms;
          animation-duration: 1100ms; }

.delayed-list:nth-child(10) {
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms; }

.delayed-list:nth-child(n+10) {
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms; }

.rounded {
  border-radius: 3px; }

.shadowed {
  box-shadow: 1px 1px 1px #6D3258; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.dn {
  display: none; }

.hidden {
  visibility: hidden; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.tab-group {
  padding: 0;
  margin: 0; }
  .tab-group .tab {
    display: inline-block; }
    .tab-group .tab input {
      display: none; }
      .tab-group .tab input:checked + label {
        color: #FFF;
        background-position-y: top;
        cursor: default;
        font-weight: bold; }
    .tab-group .tab label {
      display: inline-block;
      width: 90px;
      padding: 13px 0 10px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      transition: color 300ms, background-position 300ms;
      background-image: linear-gradient(to bottom, #6D3258 50%, transparent 50%);
      background-size: 100% 200%;
      background-position: left calc(100% + 3px);
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }

.push-button,
.push-group label {
  padding: 5px 15px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: #6D3258;
  box-shadow: 3px 3px #999;
  border: 1px solid #6D3258;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.1s, left 0.1s, top 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.push-button:hover {
  box-shadow: 2px 2px #666;
  top: 1px;
  left: 1px; }

.push-button:active,
.push-group input:checked + label {
  box-shadow: 0 0 #6D3258;
  top: 3px;
  left: 3px;
  cursor: default; }

.push-group {
  display: inline-block;
  vertical-align: bottom;
  padding: 0; }
  .push-group li {
    display: inline; }
    .push-group li input {
      display: none; }

.spinner {
  font-size: 24px;
  color: #6D3258;
  border-radius: 50%;
  position: relative;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 0 0 0.2em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: loader 10s ease 0s infinite;
          animation: loader 10s ease 0s infinite; }
  .spinner::before, .spinner::after {
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 1.2em;
    height: 2.2em; }
  .spinner::before {
    -webkit-transform-origin: 1.2em 1.1em;
            transform-origin: 1.2em 1.1em;
    -webkit-animation: loader 1s ease 0.75s infinite;
            animation: loader 1s ease 0.75s infinite;
    border-radius: 2.2em 0 0 2.2em;
    top: -0.1em;
    left: -0.1em; }
  .spinner::after {
    -webkit-transform-origin: 0 1.1em;
            transform-origin: 0 1.1em;
    -webkit-animation: loader 1s ease 0s infinite;
            animation: loader 1s ease 0s infinite;
    border-radius: 0 2.2em 2.2em 0;
    top: -0.1em;
    left: 1.1em; }
  .spinner.small {
    font-size: 14px; }
  .spinner.large {
    font-size: 32px; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes fade-scale-in {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fade-scale-in {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.fade-scale-in {
  -webkit-animation: fade-scale-in 300ms;
          animation: fade-scale-in 300ms; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation: fade-in 300ms;
          animation: fade-in 300ms; }

* {
  font-family: arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  background-color: #F9F9F9; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.mainContent {
  height: 100%;
  overflow: auto;
  margin: 0 10px; }

.gallerySection {
  border: 1px solid #6D3258;
  background-color: #FFF;
  box-shadow: 2px 2px 2px #CCC;
  max-width: 600px;
  margin: 15px auto; }
  .gallerySection summary {
    background-color: #6D3258;
    color: #FFF;
    margin: 0;
    padding: 10px;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .gallerySection[open] summary ~ * {
    -webkit-animation: appear 300ms ease-in-out;
            animation: appear 300ms ease-in-out; }
  .gallerySection h4 {
    margin-left: 15px; }
  .gallerySection code {
    white-space: pre;
    padding: 0 15px;
    display: block;
    font-family: monospace; }

@-webkit-keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sectionBox {
  display: table;
  margin: 40px auto; }

.spinner + .spinner {
  margin-left: 15px; }

.push-group {
  margin-left: 15px; }

.toggle + .toggle {
  margin-left: 10px; }
