transitionNormal: 300ms;
$transitionSubtle: 100ms;
$transitionLong: 600ms;

$controlColor: #17B;

@mixin delayed-list($initial: $transitionSubtle, $offset: $transitionSubtle) {
    $max: 10;
    @for $i from 1 through $max {
        &:nth-child(#{$i}) {
            animation-duration: $initial + ($offset * ($i - 1));
        }
    }
    &:nth-child(n+#{$max}) {
        animation-duration: $initial + ($offset * ($max - 1));
    }
}
